<!-- Footer -->
<footer class="page-footer font-small light-grey">
    <!-- <div fxLayout="row" fxLayoutAlign="space-around center">

        <div>

        </div>

        <div fxFlex="60">
          <h5 id="contact"> Do You Have Any Questions?</h5>
        </div>
    
    </div> -->

    <!-- <mat-grid-list cols="2" rowHeight="8:1">
        <mat-grid-tile>
            We help you find investors for your project. <br> Safe and Fast!
        </mat-grid-tile> -->



        <!-- <mat-grid-tile>
            <ul class="list-unstyled">
                <li>
                    <h5 id="footer-content">FOLLOW US</h5>
                </li>
                <li>
<a type="button" mdbBtn floating="true" size="sm" color="fb" class=" waves-light"><mdb-icon fab icon="facebook-f"></mdb-icon></a>
<a type="button" mdbBtn floating="true" size="sm" color="fb" class=" waves-light"><mdb-icon fab icon="twitter"></mdb-icon></a>
<a type="button" mdbBtn floating="true" size="sm" color="fb" class=" waves-light"><mdb-icon fab icon="instagram"></mdb-icon></a>

                  
                </li>
                </ul>  
        </mat-grid-tile> -->


      <!-- </mat-grid-list> -->


    <!-- Copyright -->
    <div id="copyright" class="footer-copyright text-center py-3">© 2021 Copyright:
      <a id="copyright" href="/home"> Real estate Crowdfunding</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->