<app-menu></app-menu>

    <br><br>
    <div fxLayout="row" fxLayoutAlign="center">
      
        <div>
        <img src="https://ipfs.infura.io/ipfs/{{test2}}" alt="" height="500" width="700">
        <br>        <br>
        <p class="details">he Amazon.in Books Store offers you millions of 
            titles across categories like Children's Books, 
            Free eBooks, Audiobooks, Business & Economics, 
            and Literature ...We are also pleased to announce 
            our new, online rental partnership with Sidewalk! ... 
            The 'Berg Bookshop is owned and operated by Muhlenberg 
            College.Shop new, used, rare, and out-of-print books. 
            Powell's is an independent bookstore based in Portland,
            Oregon. Browse staff picks, author features, and more... read more</p>
        </div>

      <!-- <div fxLayout="column" fxLayoutAlign="space-around center"> -->
    <div  fxFlexOffset=20>
        <mat-list role="list">
            <mat-list-item role="listitem">Item 1</mat-list-item>
            <mat-list-item role="listitem">Item 2</mat-list-item>
            <mat-list-item role="listitem">Item 3</mat-list-item>
          </mat-list>

      </div>
    
    </div>
    
    <br><br><br><br>

<app-footer></app-footer>