<app-menu> </app-menu>

<br><br>
<div fxLayout="row" fxLayoutAlign="space-around center">
  
  <div class="child-1">
    <div fxLayout="column" fxLayoutAlign="space-around center" >
      <div id="left-title">
        Real-Estate Crowdfunding <br> Using Blockchain
      </div>
<br><br>
      <div fxLayout="row" fxLayoutAlign="space-around center">
        <div id="faq" fxFlexOffset="20">
          <b>For more information, visit FAQ.</b>
        </div>
        <div id="info" fxFlexOffset="10">
          Get access to global real estate investment opportunities, online, <br> anytime and at no cost <br>
          Have hassle-free reporting, <br> communications and <br> distributions for investors Access <br> as real estate companies and <br> investors. <br>
          Access the latest news on public <br> finances and real estate <br> investments.
        </div>

      </div>
    </div>
  </div>


  <div class="child-2" fxFlex="40">
    <!-- Default form subscription -->
    <form [formGroup]="addActionForm" (ngSubmit)="submit()" id="form" class="border border-light p-5">

      <p class="h4 mb-4" id="title">Enter your information</p>
      <br>

      <label class="label">Title:</label>
      <input formControlName="projectName" type="text" class="form-control mb-4">

      <label class="label">Description:</label>
      <input formControlName="projectDescription" type="text" class="form-control mb-4">

      <label class="label">Rentability:</label>
      <input formControlName="projectRentability" type="number" class="form-control mb-4">

      <label class="label">Minimum Investment::</label>
      <input formControlName="minInvestment" type="number" class="form-control mb-4">

      <label class="label">Duration:</label>
      <input formControlName="duration" type="number" class="form-control mb-4">

      <label class="label">Goal:</label>
      <input formControlName="goal" type="number" value=" " class="form-control mb-4">

      <mat-form-field [ngStyle]="{'width': '100%'}">

      <ngx-mat-file-input  #removableInput formControlName="requiredfile" placeholder="Add an image"  [accept]="'.jpeg'" required></ngx-mat-file-input>
        <!--mat-icon matSuffix>folder</mat-icon-->
      <button mat-icon-button matSuffix *ngIf="!removableInput.empty" (click)="removableInput.clear($event)">
        <mat-icon>clear</mat-icon>
      </button>
      <mat-error *ngIf="addActionForm.get('requiredfile').hasError('required')">
          Please select an image
      </mat-error>
      </mat-form-field>


      <br><br>
      <!-- Sign in button -->
      <!-- <button mat-raised-button color="primary" (click)="submit()">Add!</button> -->
      <button mdbBtn color="blue-grey" block="true" type="submit">Add</button>
    </form>
  </div>

</div>

<br><br><br><br>
<app-footer> </app-footer>