<!-- my-dialog-modal.component.html -->
<!-- <div  >
<h2> Enter the amount to invest in the project</h2> <h1 class='center'>{{ projectTitle}}</h1>
<div>
    <mat-form-field>
        <input matInput [(ngModel)]="investmentAmount" placeholder="Enter amount (en ETH)">
    </mat-form-field>
</div>
<div>

    <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="closeDialog()" cdkFocusInitial>Invest</button>
</div>

</div> -->



<!-- test -->
<div mat-dialog-content>
  <p class="title">Enter the amount to invest in the project {{ projectTitle}}</p>
  <mat-form-field>
    <mat-label>Enter amount (en ETH)</mat-label>
    <input matInput [(ngModel)]="investmentAmount" placeholder="Enter amount (en ETH)">
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" (click)="closeDialog()" cdkFocusInitial>Ok</button>
</div>