/* @import '~@angular/material/prebuilt-themes/indigo-pink.css';

body { 
  font-family: Roboto, Arial, sans-serif;
  margin: 0;
}

.basic-container {
    padding: 50px;
}
.basic-container a {
    text-decoration: none;
    color: yellow;
}


.version-info {
  color: black;
  font-size: 8pt;
  position: fixed;
  bottom: 0;
  right: 0;
} */

/* here's what you're looking for B-) */
/* mat-nav-list.list-horizontal {
    padding: 0;
}
mat-nav-list.list-horizontal .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
}


.mat-toolbar-row, .mat-toolbar-single-row{
  height: unset !important;
}

.mat-list-item .mat-list-item-content {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.left-menu{
    float: right;
}

.basic-container{
  padding: 0px;
}

.list{
    display: inline-block;
    height: auto;
    width: auto;
} */

#main{
  background-image: url("/assets/images/background.png");
  /* background-image: url("https://www.wallpapertip.com/wmimgs/221-2210715_new-york-city-at-night-wallpaper.jpg"); */
  background-size: 100%;
  border: black;
  border-bottom: ridge;
  text-align: center;
}

.button {
  font-family: Helvetica, sans-serif !important;
  border: ridge;
  color: white;
  padding: 15px 42px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 2۰px;
  border-radius: 50px;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
}

.button:hover {
  background-color: gray ;
  color: white;
}


#titr {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif , sans-serif !important;
  font-size:290%;
  
  color: black;
}

#text2 {
  font-family: Gotham2 , sans-serif !important;
  color: black;
font-size: larger;
}

.middle {
  font-family: Arial, Helvetica , sans-serif !important;
}